.switch-container {
  position: absolute;
  right: 0;
  top: 50%;
  text-align: right;
  transform: translateY(-50%);

  .icon {
    text-align: center;
    color: #222;
    font-size: 14px;
    font-weight: 900;
  }
}
